@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&family=Roboto+Slab:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Slab", serif;
}

.carousel .slide img{
  height: 500px;
}

.thumbs-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.swiper-pagination{
  position: static !important;
}

.active {
  color: black;
  font-weight: bold;
  font-style: oblique;
}
.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #85b7fd;
  margin-top: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.4),
    0 0 30px rgba(0, 0, 0, 0.3);
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.2),
      0 0 15px rgba(0, 0, 0, 0.1);
  }
  to {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6), 0 0 40px rgba(0, 0, 0, 0.5),
      0 0 60px rgba(0, 0, 0, 0.4);
  }
}
